<main class="form p-5">
    <h1>Please add your comment...</h1>
    <form method="post" class="mt-5">
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <label for="desc">Your Comment:*</label><br/>
                    <textarea name="desc" id="desc" required ></textarea>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <label for="recommendation">Movie ID:</label>
                    <input type="text" name="recommendation" id="recommendation" value={{recommendation._id}} />
                </fieldset>
            </div>

        <button class="button-89 mt-5" role="button" >Save</button>
    </form>
</main>