<main class="form about">
    <h1>Our Story:</h1>
    <p>The purpose of this project is to create a web application that can be used between friends and families so they can recommend their favorite movies to each other. Users can use these options without registering on the website:</p>
    <ul>
        <li>Seeing other people's recommendation</li>
        <li>Leave a comment with any name on the suggested movies</li>
        <li>Seeing the top 100 movies in history</li>
    </ul>
<p>To use other options, the user must register :</p>
<ul>
    <li>All the above options</li>
    <li>The user can add his recommended movie</li>
    <li>Correcting the information of the suggested movies</li>
    <li>Deleting the movie (in the future, it will be limited to the movies provided by the same user)</li>
</ul>
<p>I used MEAN for this web application.The Handlebars for the front-end part, MongoDB for saving data in DB and Express which is back end web application framework </p>

<h5>About Me :</h5>
<p>I am Hamidreza Naji, a web design student at Georgian College, and this project is related to the MERN course, which is taught by Mr. Rich Freeman</p>
</main>