/* Google Font*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
  html, body {
    height: 100%;
  }
body {
  padding: 1px;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/movies.jpg');
}
main {
  /* width:50%; */
  height:auto;
  background: linear-gradient(to bottom, #007cb1, #252200);
  color:#fff;
  /* position: absolute;
  top: 10%;
  left: 5%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* transform: translate(-50%, -50%); */
  border-radius: 5px;
  padding-bottom:20px;

}
main.home, main.form ,main.loginform{
  width:50%;
  height:auto;
  display:block;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  margin-top:0px;
}
main.form {
  width:60%;
}
main.home .row{
  padding: 40px 20px;
  text-align: center;
}
main.home .row img {
  width:100px;
}
main.form fieldset,main.loginform fieldset{
  margin-top:15px;
}
main.form label, main.loginform label {
  width:120px;
  letter-spacing: 2px;
}
main.form input, main.loginform input{
  height:40px;
  border-radius: 5px;
  width:60%;
  padding:5px;
}
main.loginform button {
  margin-left: 120px;
}
main.form textarea {
  width: 100%;
  height:150px;
}
main.loginform {
  padding:30px;
  width:600px;
}
#imgShowHide{
  cursor: pointer;
}
div.recPage {
margin:30px;
color:aliceblue;
}
div.recPage .card-header, .btns {
  background-color:rgb(189, 221, 249) !important;
}
div.recPage .card{
  color:#252200;
}
div.recPage .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px; /* Change this to the desired width */
}
.ViewComments {
  background-color: #007db2;;
  margin:1px 30px;
  color:#dde7ff;
  padding: 10px;
  border-radius: 10px;
}
.ViewComments .card-body{
  color:#252200;
}
.b3 {
  padding:10px;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: 1s all;
  margin-top:20px;
}
.b3:hover {
  box-shadow: rgba(46, 132, 206, 0.919) 0px 2px 4px 0px, rgba(12, 158, 220, 0.81) 0px 2px 16px 0px;
  transition: 1s all;
  cursor: pointer;
  color:#fff;
}
.b3:hover a {
  color:#fff;
  text-decoration: none;
}
a {
  color:#fff;
  text-decoration: none;
}

.navbar-dark {
  background-color:  #007cb1;
  padding-left: 20px;
}

div.view {
  margin:50px;
}
footer {
  position: sticky;
    bottom: 0;
    top: 100%;
  background-color: #212B11;
  color:#EBEBEB;
  width:99.9%;
  padding:10px;
  text-align: center;
  margin-top:10px;
}
/* src of the button css  */
/* https://getcssscan.com/css-buttons-examples */

.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #dde7ff;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}


/* ////////////////////// */
.button-48 {
  appearance: none;
  background-color: rgb(189, 221, 249);
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}