<main>
    <h1>{{title}}</h1>
<ul>
    {{#each recs}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>
 <button onclick="window.location.href='/recommendations/create';" class="button-89" role="button">Recommend a Movie</button>
</main>